# Node modules
node_modules/

# Logs
*.log
n8nEventLog*

# Binary data
binaryData/

# Cache
.cache/

# Temporary files
.DS_Store
*.tmp

# Keep database but track it
!database.sqlite

dist
npm-debug.log*
yarn.lock
.vscode/launch.json

# Ignore compiled JavaScript files except in special cases
nodes/**/*.js
credentials/**/*.js
!nodes/Ventriloquist/utils/testBrowserlessConnection.js
